---
layout: default
title: GitLab's Guide to Total Rewards
extra_css:
  - total-rewards.css
---

.content-container.total-rewards
  .wrapper.container{ role: "main" }
    .row.total-rewards-overview
      .col-md-4
        .content-section
          %h3.total-rewards-title Compensation
          %ul.total-rewards-list
            %li
              %a{ href: "/handbook/total-rewards/compensation/#gitlabs-compensation-principles" } Why: Our Compensation Principle
            %li
              %a{ href: "/handbook/total-rewards/compensation/compensation-calculator/" } What: Compensation Calculator Inputs
            %li
              %a{ href: "/handbook/total-rewards/compensation/compensation-review-cycle/" } How: Compensation Review Cycle

      .col-md-4
        .content-section
          %h3.total-rewards-title Benefits
          %ul.total-rewards-list
            %li
              %a{ href: "/handbook/benefits/#guiding-principles" } Why: Our Benefits Principle
            %li
              %a{ href: "/handbook/benefits/#general-benefits" } What: General Benefits
            %li
              %a{ href: "/handbook/benefits/#global-benefits-survey" } How: Global Benefits Survey
      .col-md-4
        .content-section
          %h3.total-rewards-title Equity
          %ul.total-rewards-list
            %li
              %a{ href: "/handbook/stock-options/#stock-options" } Why: Why we grant Equity to Team Members
            %li
              %a{ href: "/handbook/stock-options/#stock-option-grant-levels" } What: What we grant to Team Members
            %li
              %a{ href: "/handbook/stock-options/#exercising-your-options" } How: Accepting, Understand and Exercising Awards
    %div.total-rewards-calendar
      .row
        .col-md-12
          .content-section
            %h2.total-rewards-title.text-center Total Rewards Calendar
            %div Throughout the year, the total rewards team will need action from leadership and individual contributors. Below is a summary of the major events that will be coming up and affect everyone at GitLab. For more detailed information on the issues the total rewards team is working on, please see the total rewards issue tracker.
      .row
        .col-md-6.col-md-offset-3
          .content-section
            %div.text-center.total-rewards-subtitle Summary of Events for FY 2020:
            %table
              %tr
                %th Month
                %th Events
              %tr
                %td Feb 2020
                %td Audit FY 2021 Annual Compensation Review
              %tr
                %td
                %td
                  %a{ href: "https://gitlab.com/gitlab-com/finance/-/issues/1432" } Canada Benefits Implementation
              %tr
                %td Mar 2020
                %td
                  %a{ href: "https://gitlab.com/gitlab-com/people-group/total-rewards/-/issues/79" } Job Family Alignment
              %tr
                %td
                %td Exchange Rate Fluctuations effective 2020-03-01
              %tr
                %td Apr 2020
                %td
                  %a{ href: "https://gitlab.com/gitlab-com/people-group/total-rewards/-/issues/107" } Compensation Philosophy Training
              %tr
                %td May 2020
                %td TBD
              %tr
                %td Jun 2020
                %td Benefits Survey Released FY21
              %tr
                %td Jul 2020
                %td
                  %a{ href: "handbook/benefits/#global-benefits-survey-results" } Benefits Survey Results FY21 Analyzed and added to Handbook
              %tr
                %td Aug 2020
                %td Catch-up Compensation Review Manager Review (Compaas)
              %tr
                %td Sep 2020
                %td Catch-up Compensation Review Effective 2020-09-01
              %tr
                %td Oct 2020
                %td Compensation Training TBD
              %tr
                %td Nov 2020
                %td
                  %a{ href: "handbook/total-rewards/compensation/compensation-calculator/#compa-group" } Compa Group Reviews
              %tr
                %td Dec 2020
                %td Annual Comp Review Inputs Evaluated/Proposed to Compensation Group for FY22
              %tr
                %td
                %td Divsion and Department Impact Analysis shared with People Business Partner Team
              %tr
                %td Jan 2020
                %td Annual Comp Review changes finalized for 2021-02-01 effective date
              %tr
                %td
                %td Manager Review (Compaas)