.container.text-center
  .row
    = image_tag "/images/events/gitlab-commit/2020-hero4.jpg"
    .hero-content
      %h2{style: "font-size: 2.3em;"} An immersive
      %h2{style: "font-size: 4.4em;"} DevOps
      %h2{style: "font-size: 2.9em;"} experience
