@import "variables";

// sass-lint:disable no-qualifying-elements

/* For an example of the detail & summary tags in use, please see /handbook/marketing/brand-and-digital-design/ */

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  margin: 0;
  vertical-align: middle;
}

details {
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

summary {
  color: $color-primary-alt;
  cursor: pointer;
}

details[open] > summary {
  margin-bottom: 24px;
}

// underline links by default in the content container only
.container.md-page {
  a {
    text-decoration: underline;
  }

  .breadcrumb {
    a {
      text-decoration: none;
    }
  }
}

.domain-expertise {
  font-size: 0.8em;

  .domain {
    color: $color-orange;
  }
}